/user_tests
/target
/objectdb_core/target
/objectdb_macros/target
/objectdb_core/.gitignore
/objectdb_macros/.

target/
**/target/

.env
**/.env
**/*.env
**/config.json
**/secrets.*
**/*.pem
**/*.crt
**/*.key

*.log
*.bak
*.tmp
