/user_tests
/target
/objektdb_core/target
/objektdb_macros/target
/objektdb_core/.gitignore
/objektdb_macros/.

target/
**/target/
/.idea

.env
**/.env
**/*.env
**/config.json
**/secrets.*
**/*.pem
**/*.crt
**/*.key

*.log
*.bak
*.tmp
